@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0f172a;
  --background: #f8fafc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f1f5f9;
    --background: #0f172a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
